{% extends 'base.html.twig' %}

{% block title %}HorsePower Calculator{% endblock %}

{% block body %}
	<table class="table table-striped">
			<thead>
				<tr>
					<th>Specs Name</th>
					<th>Engine Specs</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Manufacturer</td>
					<td>{{ engine.manufacturer }}</td>
				</tr>
				<tr>
					<td>Name</td>
					<td>{{ engine.name }}</td>
				</tr>
				<tr>
					<td>Engineblock Alloy</td>
					<td>{{ engine.getBlockAlloy() }}</td>
				</tr>
				<tr>
					<td>Configuration</td>
					<td>{{ engine.getNumberOfCylinders }}-cylinder {{ engine.getConfiguration }} - {{ engine.getValvesPerCylinder }} valves per cylinder</td>
				</tr>
				<tr>
					<td>Displacement</td>
					<td>{{ engine.displacement }}cc (cubic centimeters) with a piston stroke of {{ engine.getPistonStroke }}mm and a cylinder bore of {{ engine.getCylinderBore }}mm</td>
				</tr>
				<tr>
					<td>HorsePower</td>
					<td>{{ engine.hp }}hp</td>
				</tr>
				<tr>
					<td>Torque</td>
					<td>{{ engine.torque }}Nm</td>
				</tr>
				<tr>
					<td>Redline</td>
					<td>{{ engine.redline }}RPM</td>
				</tr>
			</tbody>
		</table>
{% endblock %}